<section id="contact-section">
  <div class="container">
    <div class="row address-details">
      <div class="col-md-4">
        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
          <i class="ion-ios-location-outline"></i>
          <h5>1984 Queen St E, Toronto
            <br>Canada</h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
          <i class="ion-ios-email-outline"></i>
          <p>
            <br>Send mail
            <br/>
            <a href="mailto:innazh1133@gmail.com">innazh1133@gmail.com</a>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
          <i class="ion-ios-telephone-outline"></i>
          <p>
            <br>Call
            <br/>
            <a href="callto:+1-647-767-5370">+1-647-767-5370</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>