<app-global shock="Service"></app-global>
<section id="service-page" class="pages service-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">What I Love To Do</h2>
          <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">Programming, problem solving, project planning, design, development and implementation.</p>
          <div class="row service-parts">
            <div class="col-md-6">
              <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="1s">
                <i class="ion-ios-paper-outline"></i>
                <h4>DEVELOPMENT</h4>
                <p>Programming languages: C, C++, Python, Java, JavaScript:Angular, React, TypeScript, SQL</p>
                <p>Software: Visual Studio, Eclispse, Visual Studio Code, Atom, Microsoft Access, Oracle, Microsoft Office</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                <i class="ion-ios-pint-outline"></i>
                <h4>DESIGN</h4>
                <p>I design my applications using an up-to-date
                  <a href="https://getbootstrap.com/">Bootstrap</a> version as well
                  <a href="http://sass-lang.com/">SASS</a> and plain
                  <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block">
          <img class="img-responsive" src="../../../assets/images/Study.jpg" alt="">
          <p>
            <a href="https://www.czechcollege.cz/study-web-design-development-europe/">Picture source</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>