<section id="chat">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">3. My Chat</h1>
      <img src="../../../../assets/images/chat.jpg" class="img-responsive">
      <h4 class="wow fadeInDown" data-wow-delay=".5s">
        I had to complete this application for BTN415 -  Data communications course.
        I've set up a multithreaded server using Windows Socket library on C++. Server accepts up to two connections at the same time.
        Then, asks for user's username, after which users are able to send and receive messages from and to each other.
        To quit users have to type "quit".
      </h4>
    </div>
  </div>
</section>