<app-global shock="About"></app-global>
<section id="about" class="company-description">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Why I'm Different</h3>
          <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
              Hi, I'm Inna, a software developer from Toronto who is currently studying at
              Seneca College, where I work with cutting-edge technology to develop 
              applications of the highest quality.            
          </p>
          <p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
              I'm a fast learner who strives to keep
              up with the latest trends in the tech industry, while still maintaining a
              high degree of proficiency with older languages.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>