<section id="angular">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">2. My angular app</h1>
      <a href="https://angular-project-22.herokuapp.com/">
        <img src="../../../../assets/images/angular11.jpg" class="img-responsive">
      </a>
      <h4 class="wow fadeInDown" data-wow-delay=".5s">
          This is my Angular app, which I had to complete for BTI425 - Web Programming for Apps and Services.
          It is an application, which consists of a number of components and uses angular routing. It renders local data 
          in a table view and allows user to perform CRUD operations.
          I've learned how to build and work with angular components using TypeScript and HTML templates.
          The picture above is clickable as well.
        </h4>
    </div>
  </div>
</section>