<app-global shock="Projects"></app-global>
<section id="projects" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">Latest Works</h1>
            <h4 class="wow fadeInDown" data-wow-delay=".5s">
                This section gives examples of some of my latest best and most interesting applications.
            </h4>
        </div>
        <app-my-react-app></app-my-react-app>
        <app-my-angular-app></app-my-angular-app>
        <app-chat></app-chat>
    </div>
</section>