<!--
        ==================================================
        Header Section Start
        ================================================== -->
<app-header></app-header>
<!--
        ==================================================
        Slider Section Start
        ================================================== -->
<app-slider></app-slider>
<!--/#main-slider-->
<app-about></app-about>
<!--
        ==================================================
        About Section Start
        ================================================== -->
<!-- <app-about></app-about> -->
<!-- /#about -->


<!--
        ==================================================
        Portfolio Section Start
        ================================================== -->
<app-projects></app-projects>
<!-- #works -->
<!--
        ==================================================
        Portfolio Section Start (Feature)
        ================================================== -->
<!-- <app-feature></app-feature>

<app-about-page></app-about-page>

<app-service></app-service>

<app-gallery></app-gallery> -->

<app-contact></app-contact>
<app-footer></app-footer>

