<!--
        ==================================================
        Header Section Start
        ================================================== -->
<app-header></app-header>
<!--
        ==================================================
        Slider Section Start
        ================================================== -->
<app-slider></app-slider>
<!--/#main-slider-->
<app-about></app-about>
<!--
        ==================================================
        About Section Start
        ================================================== -->
<!-- /#about -->


<!--
        ==================================================
        Portfolio Section Start
        ================================================== -->
<app-projects></app-projects>
<!-- #works -->
<!--
        ==================================================
        Portfolio Section Start (Feature)
        ================================================== -->

<app-service></app-service>
<app-action></app-action>
<app-contact></app-contact>
<app-footer></app-footer>

