<section id="react">
  <div class="container">
    <div class="section-heading">
      <h1 class="title wow fadeInDown" data-wow-delay=".3s">1. My react app</h1>
      <a href="https://my-react-app-project.herokuapp.com/">
        <img src="../../../../assets/images/reactor.jpg" class="img-responsive">
      </a>
      <h4 class="wow fadeInDown" data-wow-delay=".5s">
        This is my react app, which I had to complete for BTI425 - Web Programming for Apps and Services.
        My application accesses a simple API that I set up to retrive data and to render it in a table format.
        While I was working on this assignment I've learned how to work with react components and gained more experiance with bootstrap.
        The picture above is clickable - it will take you to the website, where you can explore my work in greater detail.
      </h4>
    </div>
  </div>
</section>